<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />

  </startup>

  <startup useLegacyV2RuntimeActivationPolicy="true">

    <supportedRuntime version="v4.0"/>

  </startup>
  <!--连接字符串-->
  <connectionStrings>
    <add connectionString="Data Source=Test.db;Version=3;" name="conStr"/>
  </connectionStrings>
  <!--连接字符串结束-->
  
  
</configuration>